<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="com.phonegap.plugins.localnotification"
    version="1.0">
    <name>LocalNotification</name>
    <description>LocalNotification Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,local,notification</keywords>

    <js-module src="www/LocalNotification.js" name="LocalNotification">
        <clobbers target="window.plugins.localNotification" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalNotification" >
                <param name="android-package" value="com.phonegap.plugins.localnotification.LocalNotification"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/LocalNotification.java" target-dir="src/com/phonegap/plugins/localnotification" />
        
        <source-file src="src/android/AlarmHelper.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
                
        <source-file src="src/android/AlarmOptions.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
                
        <source-file src="src/android/AlarmReceiver.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
        
        <source-file src="src/android/AlarmRestoreOnBoot.java"
                target-dir="src/com/phonegap/plugins/localnotification" />
                
     </platform>
</plugin>
